body {
  background-color: #f5f5f5;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /*height: 60px;*/
  padding: 20px;
  color: white;
  box-shadow: 0px 3px 12px rgba(0,0,0, .4);
}

.submit {
  margin-top: 20px;
}

.all-movies {
  overflow: auto;
}

.movie {
  background-color: white;
  /*margin: 20px;*/
  box-shadow: 0px 3px 9px rgba(0,0,0, .3);
  float: left;
  padding: 30px 10px;
  margin-bottom: 20px;
}

.movie-poster {
  width: 250px;
  height: 350px;
}

.submit {
  display: block;
  width: 100%;
}

.form {
  padding: 30px;
  margin: 30px 0;
  background-color: white;
  box-shadow: 0px 3px 11px rgba(0,0,0, .3);
}