body {
  background-color: #f5f5f5;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /*height: 60px;*/
  padding: 20px;
  color: white;
  box-shadow: 0px 3px 12px rgba(0,0,0, .4);
}

.submit {
  margin-top: 20px;
}