body {
  background-color: #f5f5f5;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /*height: 60px;*/
  padding: 20px;
  color: white;
  box-shadow: 0px 3px 12px rgba(0,0,0, .4);
}

.submit {
  margin-top: 20px;
}

.all-movies {
  /*overflow: auto;*/
  padding-bottom: 50px;
}

.movie {
  background-color: white;
  /*margin: 20px;*/
  box-shadow: 0px 3px 9px rgba(0,0,0, .3);
  float: left;
  padding: 0;
  margin-bottom: 20px;
  transition: all .2s ease-in-out;
  background-image: radial-gradient(#DDD, #FFF);
}

.movie:hover {
  transform: scale(1.05);
  position: relative;
  z-index: 3;
  box-shadow: 0px 4px 14px rgba(0,0,0, .4);
}

.movie-poster {
  width: 100%;
  height: 400px;
  border: 1px solid white;
}

.submit {
  display: block;
  width: 100%;
}

.form {
  padding: 30px;
  margin: 30px 0;
  background-color: white;
  box-shadow: 0px 3px 11px rgba(0,0,0, .3);
}

.movie-title {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  text-align: center;
  padding: 24px 0;
  background-color: #111;
  color: #DDD;
}

main {
  min-height: 750px;
}